<div {{ attributes.defaults({class: 'avatar-wrapper d-inline-flex align-items-center'}) }}>
    {% if user.profilePicture %}
        <img 
            src="{{ vich_uploader_asset(user, 'profilePictureFile') }}" 
            alt="{{ user.firstName }} {{ user.lastName }}"
            class="avatar {{ getSizeClass() }}"
            loading="lazy"
        >
    {% else %}
        <div class="avatar-placeholder {{ getSizeClass() }}" 
             title="{{ user.firstName }} {{ user.lastName }}"
             aria-label="{{ user.firstName }} {{ user.lastName }}">
            {{ getInitials() }}
        </div>
    {% endif %}
    
    {% if showName %}
        <span class="ms-2">{{ user.firstName }} {{ user.lastName }}</span>
    {% endif %}
</div>

